<div class="row spinner-container">
	<div ng-hide="vm.product && vm.product.length > 0" id="spinner"></div>
	<estimates-product-list-toolbar
		string-search="vm.stringSearch"
		something="vm.something">
	</estimates-product-list-toolbar>
	<div class="clearfix padding"></div>
	<div class="col-sm-12">
		<meraki-product-panel
			ng-repeat="product in vm.products track by product._id"
			product="product">
		</meraki-product-panel>
	</div>
	<estimates-product-list-modal-form>
	</estimates-product-list-modal-form>
</div>