<div class="row spinner-container">
	<div ng-hide="vm.estimate && vm.estimate._id" id="spinner"></div>
	<estimates-edit-toolbar
		products="vm.estimate.products">
	</estimates-edit-toolbar>
	<hr>
	<estimates-edit-products
		products="vm.estimate.products">
	</estimates-edit-products>
	<hr>
	<estimates-edit-modifiers
		modifiers="vm.modifiers">
	</estimates-edit-modifiers>
	<estimates-edit-totals
		products="vm.estimate.products"
		modifiers="vm.modifiers">
	</estimates-edit-totals>
	<estimates-add-products-modal
		products="vm.estimate.products">
	</estimates-add-products-modal>
</div>