<div class="container">
	<div class="row">
		<div class="col-sm-3">
			<button class="btn btn-success" ng-click="vm.showModal()">
				<i class="fa fa-plus"></i>
				Agregar Productos
			</button>
		</div>
				
		<div class="col-sm-offset-6 col-sm-3 form-horizontal">
			<div class="form-group" style="margin-bottom: 10px">
				<label class="col-xs-3 control-label">
					Años
				</label>
				<div class="col-xs-9">
					<select
						ng-model="vm.estimate.years"
						class="form-control"
						ng-change="vm.updateYears()"
						ng-options="value for value in [1, 3, 5, 7, 10]">
					</select>
				</div>
			</div>
		</div>
	</div>
</div>