<div class="container padding">
	<div class="row">
		<div class="col-sm-4">
			<span class="span-well span-well-primary text-center">
				<h4 class="span-well-heading">
					<strong>Hardware + Soporte</strong>
				</h4>
				<dt>Precio de Venta</dt>
				<dd class="span-highlight">USD 2500.00</dd>
				<dt>Couta Mensual</dt>
				<dd class="span-highlight">USD 115.00</dd>
			</span>
		</div>
		<div class="col-sm-4">
			<span class="span-well span-well-danger text-center">
				<h4 class="span-well-heading">
					<strong>Hardware + Soporte + Administración</strong>
				</h4>
				<dt>Precio de Venta</dt>
				<dd class="span-highlight">USD 2500.00</dd>
				<dt>Couta Mensual</dt>
				<dd class="span-highlight">USD 115.00</dd>
			</span>
		</div>
		<div class="col-sm-4">
			<span class="span-well span-well-success text-center">
				<h4 class="span-well-heading">
					<strong>Opcion Unificada</strong>
				</h4>
				<dt>Precio de Venta</dt>
				<dd class="span-highlight">USD 2500.00</dd>
				<dt>Couta Mensual</dt>
				<dd class="span-highlight">USD 115.00</dd>
			</span>
		</div>
	</div>
</div>