<div class="container padding">
	<div class="row">
		<div class="col-sm-4">
			<span class="span-well span-well-primary text-center">
				<h4 class="span-well-heading">
					<strong>Solución Tradicional</strong>
				</h4>
				<dt>Precio de Venta</dt>
				<dd class="span-highlight">USD {{vm.hwCost() | setDecimal}}</dd>
				<dt>Couta Mensual</dt>
				<dd class="span-highlight">USD {{vm.swCostPerMonth() | setDecimal}}</dd>
			</span>
		</div>
		<div class="col-sm-4">
			<span class="span-well span-well-danger text-center">
				<h4 class="span-well-heading">
					<strong>Solución Administrada</strong>
				</h4>
				<dt>Precio de Venta</dt>
				<dd class="span-highlight">USD 2500.00</dd>
				<dt>Couta Mensual</dt>
				<dd class="span-highlight">USD 115.00</dd>
			</span>
		</div>
		<div class="col-sm-4">
			<span class="span-well span-well-success text-center">
				<h4 class="span-well-heading">
					<strong>Solución Unificada</strong>
				</h4>
				<dt>Couta Mensual</dt>
				<dd class="span-highlight">USD 115.00</dd>
				<p class="span-well-observation">
					<strong>OBS:</strong>
					Contrato a 36 meses, luego del cual los equipos son del cliente. Incluye los equipos, el servicio y la administración de la solución.
				</p>
			</span>
		</div>
	</div>
</div>