<div class="btn-group btn-block btn-block-5 btn-with-badge">
	<button 
		class="btn btn-inverse"
		ng-click="vm.toggleSelected()"
		name="Selected">
		Seleccionados
		<span selected-product-badge>{{vm.selProdLen()}}</span>
	</button>
	<button 
		class="btn btn-inverse"
		ng-click="vm.filterBy('Wireless')"
		name="Wireless">
		Wireless
	</button>
	<button 
		class="btn btn-inverse"
		ng-click="vm.filterBy('Switches')"
		name="Switches">
		Switches
	</button>
	<button 
		class="btn btn-inverse"
		ng-click="vm.filterBy('Security Appliances')"
		name="Security_Appliances">
		Security Appliances
	</button>
	<button 
		class="btn btn-inverse"
		ng-click="vm.filterBy('Accesory')"
		name="Accesory">
		Accesorios
	</button>
</div>