<div id="estimatesAddProductsModal" class="modal fade">
  <div class="modal-dialog modal-lg">
    <div class="modal-content modal-min-650">
			<div class="modal-header">
				<close-modal-button></close-modal-button>
				<h4>Agregar Productos</h4>
			</div>
			<div class="modal-body">
				<estimates-add-products-filters
					line="vm.line">
				</estimates-add-products-filters>
				<estimates-add-products
					line="vm.line"
					available-products="vm.availableProducts"
					products="vm.products"
					ng-hide="vm.showSelected">
				</estimates-add-products>
			</div>
		</div>
  </div>
</div>