<div class="col-sm-12">
	<div class="table-responsive">
		<table class="table table-hover table-striped" ng-cloak>
			<thead>
				<tr>
					<th><i class="fa fa-square-o"></i></th>
					<th
						style="min-width: 100px"
						class="pointer unselectable"
						data-sort-by="createdAt"
					>
						Creado
					</th>
					<th
						style="min-width: 200px"
						class="pointer unselectable"
						data-sort-by="name"
					>
						Nombre
					</th>
					<th
						class="pointer unselectable"
						data-sort-by="description"
					>
						Descripción
					</th>
				</tr>
			</thead>
			<thead>
				<tr ng-repeat="estimate in vm.collection track by estimate._id" ng-cloak>
					<td><i class="fa fa-square-o"></i></td>
					<td>
						{{estimate.createdAt | guxCalendar}}
					</td>
					<td>
						<a class="text-primary" ui-sref="meraki_estimates.edit({id: estimate._id})">
							{{estimate.name}}
						</a>
					</td>
					<td>
						{{estimate.description}}
					</td>
				</tr>
			</thead>
		</table>
	</div>
</div>