<div class="col-sm-12">
	<div class="table-responsive">
		<table class="table table-hover table-striped" ng-cloak>
			<thead>
				<tr>
					<th><i class="fa fa-square-o"></i></th>
					<th
						ng-cloak
						class="pointer unselectable"
						ng-click="vm.sortBy('createdAt')"
						style="min-width: 100px">
						Creado
						<span class="pull-right" ng-class="vm.chevronIfSorting('createdAt')"></span>
					</th>
					<th
						ng-cloak
						class="pointer unselectable"
						ng-click="vm.sortBy('name')"
						style="min-width: 200px">
						Nombre
						<span class="pull-right"  ng-class="vm.chevronIfSorting('name')"></span>
					</th>
					<th
						ng-cloak
						class="pointer unselectable"
						ng-click="vm.sortBy('description')"
						>
						Descripción
						<span class="pull-right" ng-class="vm.chevronIfSorting('description')"></span>
					</th>
				</tr>
			</thead>
			<thead>
				<tr ng-repeat="estimate in vm.collection track by estimate._id" class="animated fadeIn" ng-cloak>
					<td><i class="fa fa-square-o"></i></td>
					<td>
						{{estimate.createdAt | guxCalendar}}
					</td>
					<td>
						<a class="text-primary" ui-sref="meraki_estimates.edit({id: estimate._id})">
							{{estimate.name}}
						</a>
					</td>
					<td>
						{{estimate.description}}
					</td>
				</tr>
			</thead>
		</table>
	</div>
</div>