<div class="container">
	<div class="row">
		<div class="col-sm-12">
			<div class="btn-group btn-block btn-block-5">
				<button 
					class="btn btn-inverse"
					ng-click="vm.filterBy('selected')"
					name="selected">
					Seleccionados
				</button>
				<button 
					class="btn btn-inverse"
					ng-click="vm.filterBy('Wireless')"
					name="Wireless">
					Wireless
				</button>
				<button 
					class="btn btn-inverse"
					ng-click="vm.filterBy('Switches')"
					name="Switches">
					Switches
				</button>
				<button 
					class="btn btn-inverse"
					ng-click="vm.filterBy('Security Appliances')"
					name="Security_Appliances">
					Security Appliances
				</button>
				<button 
					class="btn btn-inverse"
					ng-click="vm.filterBy('Accesories')"
					name="Accesories">
					Accesorios
				</button>
			</div>
		</div>
	</div>
</div>