<div class="row spinner-container">
	<div ng-hide="vm.onReady === true" id="spinner"></div>
	<div ng-show="vm.onReady === true">
		<div class="col-lg-12">
			<h3>
				<span class="text-primary">{{::vm.estimate.name}}</span>
				<small class="text-muted">[{{::vm.estimate._id}}]</small>
				<br>
				<small>
					{{::vm.estimate.description}}
				</small>
			</h3>
			<hr style="margin-top: 15px; margin-bottom: 15px;">
		</div>
		<estimates-edit-toolbar
			products="vm.estimate.products">
		</estimates-edit-toolbar>
		<hr style="margin: 15px">
		<estimates-edit-products
			products="vm.estimate.products">
		</estimates-edit-products>
		<hr style="margin: 15px">
		<estimates-edit-modifiers
			modifiers="vm.modifiers">
		</estimates-edit-modifiers>
		<estimates-edit-totals
			products="vm.estimate.products"
			modifiers="vm.modifiers">
		</estimates-edit-totals>
		<estimates-add-products-modal></estimates-add-products-modal>
	</div>
</div>