<table class="table table-first-border-top-none table-margin-bottom-0">
	<tbody>
		<tr>
			<td class="text-muted">INTERFACES</td>
			<td>
				<ul class="list-unstyled" style="margin-bottom: 0">
					<li ng-repeat="interface in merakiProductAttributes.attributes.interfaces track by $index">
						{{interface.ammount}}x {{interface.type}}
					</li>
				</ul>
			</td>
		</tr>
		<tr>
			<td class="text-muted">FIREWALL THROUGHPUT</td>
			<td>{{merakiProductAttributes.attributes.throughput}} Mbps</td>
		</tr>
		<tr>
			<td class="text-muted">
				VPN THROUGHPUT
			</td>
			<td>
				{{merakiProductAttributes.attributes.vpnThroughput}} Mbps
			</td>
		</tr>
		<tr>
			<td class="text-muted">
				CLIENTES
			</td>
			<td>
				{{merakiProductAttributes.attributes.recommendedClients}}
			</td>
		</tr>
	</tbody>
</table>