<div class="list-group">
  <a ui-sref="meraki_estimates.index" class="list-group-item">
  	<p class="pull-left">
  		Meraki Estimates
  	</p>
  	<p class="pull-right">
  		<i class="gux-icon gux-icon-meraki-logo gux-icon-on-active-white align-right"></i>
  	</p>
		<div style="clear: both;"></div>
	</a>
  <a ui-sref="meraki_estimates.edit" class="list-group-item">
  	<p class="pull-left">
  		Nuevo Estimate
  	</p>
  	<p class="pull-right">
  		<i class="fa fa-plus align-right"></i>
  	</p>
		<div style="clear: both;"></div>
	</a>
  <a ui-sref="meraki_estimates.shared" class="list-group-item">
  	<p class="pull-left">
  		Estimates Compartidos
  	</p>
  	<p class="pull-right">
  		<i class="fa fa-share align-right"></i>
  	</p>
		<div style="clear: both;"></div>
	</a>
  <a ui-sref="meraki_estimates.price_list" class="list-group-item">
	  <p class="pull-left">
	  	Lista de Precios
	  </p>	
  	<p class="pull-right">
  		<i class="fa fa-usd align-right"></i>
	  </p>
		<div style="clear: both;"></div>
	</a>
</div>