<div class="panel panel-default animated fadeIn panel-hover meraki-product-panel">
	
	<!-- Panel Heading Starts -->
	<div class="panel-heading">
		<div class="row">
			<div class="col-sm-4">
				<h4 class="pull-left minus-margin-top">
					<strong class="pull-left">{{::vm.product.model}}</strong>
				</h4>
			</div>
			<div class="col-sm-6">
				<h4>
					<small class="pull-right minus-margin-top"> 
						<!-- Show only if datasheet is present -->
						<a 
							ng-href="{{::vm.product.datasheet || '#'}}"
							target="_blank"
							class="text-primary"
							ng-if="vm.product.datasheet">
							<i>datasheet</i>
							<i class="fa fa-file-pdf-o"></i>
						</a>

						<!-- Show only if user is Admin -->
						<span ng-if="vm.isAdmin() && vm.editable === 'true'">
							<span ng-if="vm.product.datasheet">|</span>
							<a
								href="javascript:void(0);"
								class="text-orange"
								ng-click="vm.editProduct()">
								<i>editar</i>
								<i class="fa fa-pencil"></i>
							</a>
							|
							<a
								href="javascript:void(0);"
								class="text-danger"
								ng-click="vm.deleteProduct()">
								<i>eliminar</i>
								<i class="fa fa-times"></i>
							</a>
						</span>
						<!-- /Show only if user is Admin -->
					</small>
				</h4>
			</div>
			<div class="col-sm-2">
				<h4 class="pull-right minus-margin-top" label-by-line="{{::vm.product.line}}">
					{{::vm.product.line}}
				</h4>
			</div>
		</div>
	</div>
	<!-- Panel Heading End -->

	<!-- Panel Body Starts -->
	<div class="panel-body">
		<div class="container">
			<div class="row">
				<!-- Product Image -->
				<div class="col-sm-3">
					<div class="align-image-vertically-50">
						<img class="img-responsive" src="{{::vm.product.image}}" alt="Product Image">
					</div>
				</div>
				
				<!-- Product Attributes -->
				<div class="col-sm-6">
					<h4>
						{{::vm.product.model}}
						<small>Familia: {{::vm.product.family}}</small>
					</h4>
					<h6 class="padding text-muted">
						{{vm.product.description || 'Sin Descripción...'}}
					</h6>	
				</div>

				<!-- Product Price -->
				<div class="col-sm-3">
					<span class="span-well span-well-default no-margin-top">
						<h5 class="span-well-heading text-center">
							<strong>
								$ {{vm.product.price * (1 - vm.discount) | setDecimal}}
							</strong>
						</h5>
					</span>
				</div>
				<!-- /Product Price -->

			</div>
		</div>		
	</div>
	<!-- Panel Body Ends -->
	
	<!-- Panel Footer Starts -->
	<div ng-if="vm.selectable === 'true'" class="panel-footer">
		<div class="container">
			<div class="row">
				<!-- Quantity Modifier -->
				<div class="col-sm-4 col-sm-offset-4">
					<div class="input-group">
	          <span class="input-group-btn">
              <button class="btn btn-default btn-number btn-xs" ng-click="vm.modQty(-1)">
                <span class="glyphicon glyphicon-minus"></span>
              </button>
	          </span>
	          <input
	          	type="text"
	          	ng-model="vm.quantity"
	          	ng-if="!vm.product.quantity"
	          	class="form-control input-number text-center input-sm"
	          	value="1"
	          	min="1">
	          <input
	          	type="text"
	          	ng-model="vm.product.quantity"
	          	ng-if="vm.product.quantity"
	          	class="form-control input-number text-center input-sm"
	          	min="1"
	          	style="background-color: white"
	          	readonly>
	          <span class="input-group-btn">
              <button class="btn btn-default btn-number btn-xs" ng-click="vm.modQty(1)">
                <span class="glyphicon glyphicon-plus"></span>
              </button>
	          </span>
	      	</div>
				</div>
				<!-- /Quantity Modifier -->
				<!-- Buttons -->
				<div class="col-sm-2 col-sm-offset-2" style="padding-right: 0px">
					<button
						class="btn btn-success pull-right btn-xs"
						ng-if="!vm.prodHasQty()"
						ng-click="vm.onSelect({product: vm.product, quantity: vm.quantity})">
						<i class="fa fa-plus"></i>
					</button>
					<button
						class="btn btn-danger pull-right btn-xs"
						ng-if="vm.prodHasQty()"
						ng-click="vm.onRemove({product: vm.product})">
						<i class="fa fa-trash"></i>
					</button>
				</div>
				<!-- /Buttons -->
			</div>
		</div>
	</div>
</div>