<table class="table table-hover">
	<thead>
		<tr>
			<th></th>
			<th>Lista [USD]</th>
			<th>Partner [USD]</th>
			<th>Deal [USD]</th>
			<th>NFR [USD]</th>
		</tr>
	</thead>
	<tbody>
		<tr>
			<td><strong>Hardware</strong></td>
			<td>{{vm.product.listPrice | setDecimal:2}}</td>
			<td>{{vm.product.partnerPrice | setDecimal:2}}</td>
			<td>{{vm.product.dealPrice | setDecimal:2}}</td>
			<td>{{vm.product.nfrPrice | setDecimal:2}}</td>
		</tr>
		<tr>
			<td><strong>Lic. 1 años</strong></td>
			<td>100.00</td>
			<td>80.00</td>
			<td>60.00</td>
			<td>20.00</td>
		</tr>
		<tr>
			<td><strong>Lic. 3 años</strong></td>
			<td>100.00</td>
			<td>80.00</td>
			<td>60.00</td>
			<td>20.00</td>
		</tr>
		<tr>
			<td><strong>Lic. 5 años</strong></td>
			<td>100.00</td>
			<td>80.00</td>
			<td>60.00</td>
			<td>20.00</td>
		</tr>
		<tr>
			<td><strong>Lic. 7 años</strong></td>
			<td>100.00</td>
			<td>80.00</td>
			<td>60.00</td>
			<td>20.00</td>
		</tr>
		<tr>
			<td><strong>Lic. 10 años</strong></td>
			<td>100.00</td>
			<td>80.00</td>
			<td>60.00</td>
			<td>20.00</td>
		</tr>
	</tbody>
</table>