<div class="panel panel-default">
	<div class="panel-heading" style="height: 65px">
		<h4 class="pull-left">
			<strong>{{vm.product.model}}</strong>
			<small>
				Familia {{vm.product.family}}
				<span ng-if="vm.isAdmin()">
					<a
						href="javascript:void(0);"
						class="text-orange"
						ng-click="vm.editProduct()">
						<i>editar</i>
						<i class="fa fa-pencil"></i>
					</a>
					|
					<a
						href="javascript:void(0);"
						class="text-danger"
						ng-click="vm.deleteProduct()">
						<i>eliminar</i>
						<i class="fa fa-times"></i>
					</a>
				</span>
			</small>
		</h4>
		<h4 class="label label-primary pull-right">
			{{vm.product.line}}
		</h4>
		<br>
		<h6 class="padding text-muted">
			{{vm.product.description || 'Sin Descripción...'}}
		</h6>	
	</div>
	<div class="panel-body">
		<div class="row">
			<div class="col-sm-4">
				<img class="center-block" width="250" ng-src="{{vm.product.image}}" alt="Product Image">
			</div>
			<div class="col-sm-4">

			</div>
			<div class="col-sm-4">
				<table class="table">
					<thead>
						<tr>
							<th>Lista [USD]</th>
							<th>Partner [USD]</th>
							<th>Deal [USD]</th>
							<th>NFR [USD]</th>
						</tr>
					</thead>
					<tbody>
						<tr>
							<td>{{vm.product.listPrice | setDecimal:2}}</td>
							<td>{{vm.product.partnerPrice | setDecimal:2}}</td>
							<td>{{vm.product.dealPrice | setDecimal:2}}</td>
							<td>{{vm.product.nfrPrice | setDecimal:2}}</td>
						</tr>
					</tbody>
				</table>
				<datasheet-button 
					datasheet-url="{{vm.product.datasheet}}"
					fileName="{{vm.product.model}}"
				></datasheet-button>
			</div>
		</div>
	</div>
</div>