<product-interface-selector
	interfaces="vm.product.attributes.interfaces"
>
	Interfaces
</product-interface-selector>
<div class="checkbox">
  <label>
    <input 
    	type="checkbox" 
    	ng-model="vm.product.attributes.poe"
    	name="poe"
    	ng-click="vm.product.attributes.poeBudget = 0"
  	> 
  		PoE
  </label>
</div>
<gux-form-input
	ng-model="vm.product.attributes.poeBudget"
	input-placeholder="370"
	input-name="poe"
	input-type="number"
	ng-show="vm.product.attributes.poe"
>
	Potencia PoE Util [W]
</gux-form-input>