<div class="sidebar-nav gux-sidebar-nav">
  <div class="well" style="padding: 8px 0">
    <ul class="nav nav-list">
      <li class="nav-header">
        <strong>
          MENU
        </strong>
      </li>
      <li>
        <a ui-sref="meraki_estimates.index">
          <i class="gux-icon gux-icon-meraki-logo gux-icon-on-active-white"></i>
          Meraki Estimates
        </a>
      </li>
      <li>
        <a ui-sref="meraki_estimates.shared">
          <i class="fa fa-share"></i>
          Estimates Compartidos
        </a>
      </li>
      <li>
        <a ui-sref="meraki_estimates.price_list">
          <i class="fa fa-usd"></i>
          Lista de Precios
        </a>
      </li>
    </ul>
  </div>
</div>