<div class="panel panel-default animated fadeIn">
	<div class="panel-heading" style="height: 65px;">
		<h4 class="pull-left">
			<strong>{{::vm.product.model}}</strong>
			<small>Familia {{::vm.product.family}}</small>
		</h4>
		<h4 class="pull-right" label-by-line="{{::vm.product.line}}" style="margin-top: 10px;">
			{{::vm.product.line}}
		</h4>
		<br>
		<h6 class="padding text-muted">
			{{::vm.product.description || 'Sin Descripción...'}}
		</h6>
	</div>
	<div class="panel-body">
		<div class="content">
			<div class="row">
				<div class="col-sm-3">
					<div class="img-align-middle-for-155">
						<img width="190" ng-src="{{::vm.product.image}}" alt="Product Image">
					</div>
				</div>
				<div class="col-sm-9">
				</div>
				<div class="col-sm-offset-3 col-sm-9" ng-show="vm.moreInfo">
					<meraki-product-price-table
						product="vm.product">
					</meraki-product-price-table>
				</div>
				<div class="col-sm-offset-3 col-sm-9 pointer more-info" style="margin-top: 20px" ng-click="vm.moreInfo = !vm.moreInfo">
					<a href="javascript:void(0)" class="more-info-anchor">
						<strong><span ng-hide="vm.moreInfo">Más</span><span ng-show="vm.moreInfo">Menos</span> Información</strong>
						<hr>
						<i class="fa fa-chevron-down pull-right" ng-hide="vm.moreInfo"></i>
						<i class="fa fa-chevron-up pull-right" ng-show="vm.moreInfo"></i>
					</a>
				</div>
			</div>
		</div>
	</div>
	<div class="panel-footer">
		<div class="container">
			<div class="row" ng-if="!vm.product.quantity">
				<div class="col-sm-offset-6 col-sm-4">
					<input
						type="number"
						min="0"
						step="1"
						class="form-control text-center"
						ng-model="vm.quantity">
				</div>
				<div class="col-sm-2">
					<button
						class="btn btn-success btn-block"
						ng-click="vm.addProduct()">
						<i 	class="fa fa-plus"></i>
						<span>Agregar</span>
					</button>
				</div>
			</div>
			<div class="row" ng-if="vm.product.quantity">
				<div class="col-sm-offset-6 col-sm-4">
					<input
						type="number"
						min="0"
						step="1"
						class="form-control text-center"
						ng-model="vm.product.quantity">
				</div>
				<div class="col-sm-2">
					<button
						class="btn btn-danger btn-block"
						ng-click="vm.removeProduct()">
						<i 	class="fa fa-trash"></i>
						<span>Eliminar</span>
					</button>
				</div>
			</div>
		</div>
	</div>
</div>