<product-interface-selector
	interfaces="vm.product.attributes.interfaces"
>
	Interfaces
</product-interface-selector>
<gux-form-input
  ng-model="vm.product.attributes.throughput"
  input-placeholder="200"
  input-name="throughput"
  input-type="number"
>
  Firewall Throughput [Mbps]
</gux-form-input>
<gux-form-input
	ng-model="vm.product.attributes.vpnThroughput"
	input-placeholder="70"
	input-name="vpnThroughput"
	input-type="number"
>
	VPN Throughput [Mbps]
</gux-form-input>
<gux-form-input
  ng-model="vm.product.attributes.clients"
  input-placeholder="70"
  input-name="clients"
  input-type="number"
>
  Clientes
</gux-form-input>