<div class="form-group">
  <label>
    Estandar
  </label>
  <select
    ng-model="vm.product.attributes.standard"
    name="standard"
    class="form-control">
    <option value="" selected>---</option>
    <option 
      ng-repeat="option in vm.standards track by $index"
      value="{{option}}"
    >
      {{option}}
    </option>
  </select>
</div>
<div class="form-group">
  <label>
    Estandar
  </label>
  <select
    ng-model="vm.product.attributes.mimo"
    name="mimo"
    class="form-control">
    <option value="" selected>---</option>
    <option 
      ng-repeat="option in vm.mimoOptions track by $index"
      value="{{option}}"
    >
      {{option}}
    </option>
  </select>
</div>
<gux-form-input
	ng-model="vm.product.attributes.throughput"
	input-placeholder="1200"
	input-name="throughput"
	input-type="number"
>
	Throughput [Mbps]
</gux-form-input>
<div class="checkbox">
  <label>
    <input 
    	type="checkbox" 
    	ng-model="vm.product.attributes.bluetooth"
    	name="bluetooth"
  	> 
  		Bluetooth
  </label>
</div>
<div class="checkbox">
  <label>
    <input 
    	type="checkbox" 
    	ng-model="vm.product.attributes.cmx"
    	name="cmx"
  	> 
  		CMX
  </label>
</div>