<div class="panel panel-default">
	<div class="panel-heading" style="height: 42px">
		<h4 class="pull-left">
			<strong>{{merakiProductCard.product.model}}</strong>
			<small>
				Familia {{merakiProductCard.product.family}}
				<a href="javascript:void(0);" class="text-warning" ng-click="merakiProductCard.editProduct()">
					<i>editar</i>
					<i class="fa fa-pencil"></i>
				</a>
			</small>
		</h4>
		<h4 class="label label-primary pull-right">
			{{merakiProductCard.product.line}}
		</h4>
	</div>
	<div class="panel-body">
		<div class="row">
			<div class="col-sm-4">
				<img class="center-block" width="250" ng-src="{{merakiProductCard.product.image}}" alt="Product Image">
			</div>
			<div class="col-sm-4">
				<meraki-product-attributes 
					attributes="merakiProductCard.product.attributes"
					line="{{merakiProductCard.product.line}}"
				></meraki-product-attributes>
			</div>
			<div class="col-sm-4">
				<table class="table">
					<thead>
						<tr>
							<th>Lista [USD]</th>
							<th>Partner [USD]</th>
							<th>Deal [USD]</th>
							<th>NFR [USD]</th>
						</tr>
					</thead>
					<tbody>
						<tr>
							<td>{{merakiProductCard.product.listPrice | setDecimal:2}}</td>
							<td>{{merakiProductCard.product.partnerPrice | setDecimal:2}}</td>
							<td>{{merakiProductCard.product.dealPrice | setDecimal:2}}</td>
							<td>{{merakiProductCard.product.nfrPrice | setDecimal:2}}</td>
						</tr>
					</tbody>
				</table>
				<datasheet-button 
					datasheet-url="{{merakiProductCard.product.datasheet}}"
					fileName="{{merakiProductCard.product.model}}"
				></datasheet-button>
			</div>
		</div>
	</div>
</div>