<table class="table table-first-border-top-none table-margin-bottom-0">
	<tbody>
		<tr>
			<td class="text-muted">ESTANDAR</td>
			<td>{{merakiProductAttributes.attributes.standard}}</td>
		</tr>
		<tr>
			<td class="text-muted">TROUGHPUT</td>
			<td>{{merakiProductAttributes.attributes.throughput}} Mbps</td>
		</tr>
		<tr>
			<td class="text-muted">MIMO</td>
			<td>{{merakiProductAttributes.attributes.mimo}}</td>
		</tr>
	</tbody>
</table>

<h4>
	<ul class="list-inline">
		<li ng-if="merakiProductAttributes.attributes.bluetooth"> 
			<tag-label label-class="primary">
				Bluetooth
			</tag-label>
		</li>
		<li ng-if="merakiProductAttributes.attributes.cmx">
			<tag-label label-class="purple">
				CMX
			</tag-label>
		</li>
	</ul>
</h4>