@import 'nib'

// ---------------
// Color Variables
// ---------------

//$orange     = #F74803
$orange     = rgb(238, 162, 54)
$darkOrange = #DA7000
$purple     = #7100FF
$lightBlue  = #08c
$darkBlue   = #00679A
$blueHover  = #243E77
$lightRed   = #F14040
$darkRed    = #D00404
$darkerRed  = #920303
$grey       = #E8E8E8

// ------------
// Label Clases
// ------------

.label.label-purple
  background: $purple

.label.label-orange
  background: $orange 
    
.label.label-darkBlue
  background: $darkBlue

// -------------------
// Font Awesome Clases
// -------------------

.fa-edit-stack
  cursor: pointer

.fa-edit-stack > a > i.fa-stack-2x
  color:#F74803 !important

.fa-edit-stack:hover > a > i.fa-stack-2x
  color: rgb(255, 108, 50) !important

.fa-stack-in-label > .fa-stack-2x
  top: 4px;
  left: 0px;
  font-size: 1.4em;
  
.fa-super
  font-size: 0.7em;
  vertical-align: super;

// -------------
// Helper Clases
// ------------- 

.unselectable
  -webkit-touch-callout: none
  -webkit-user-select: none
  -khtml-user-select: none
  -moz-user-select: none
  -ms-user-select: none
  user-select: none


// --------------
// Sidenav Clases
// --------------

.side-nav-block > ul.list-unstyled > a:hover
  color: #fff

// ------------
// Image Clases
// ------------

.img-responsive-gux
  max-height: 160px
  margin: auto
  height: inherit

// -----------
// Form Clases
// -----------

.form-control
  opacity: .8 !important
  color: #000 !important

.form-control:hover,
  opacity: 1 !important
  border: 1px solid $darkBlue !important

.form-control:focus
  opacity: 1 !important
  border: 1px solid $lightBlue !important
  box-shadow: none
  
.row-multiple-addresses
  margin-bottom: 10px

// --------------
// Heading Clases
// --------------

h4
  padding-top: 5px !important
  
// ----------
// Text Clases
// ----------

.text-orange
  color: $orange
  
.text-orange:hover
.text-orange:focus
.text-orange:active
  color: $darkOrange

.text-darkRed
  color: $darkRed

.text-darkRed:hover
.text-darkRed:focus
.text-darkRed:active
  color: $darkerRed
  
.text-muted
  opacity: .6 !important

.text-remove
  color: $darkRed
  
.text-remove:hover
.text-remove:focus
  color: $lightRed
  
.text-remove:visited
  color: $darkerRed

// -----------
// List Clases
// -----------

.list-inline > li
    display: inline-block
    padding-right: 0
    padding-left: 0
    padding-top: 5px
    
ul.list-text-hover > li:hover
  cursor: pointer
  color: $lightBlue  

.list-inline-tags
  margin-top: -10px;
  margin-left: 0px;

// -------------
// Button Clases
// -------------

.btn-same-width-25 > button.btn
  width: 25px
  
// ------------
// Table Clases
// ------------

.table > tbody > tr > td
  vertical-align: middle

.table > tbody > tr > td.padding-right-0
  padding-right: 0

.table-hover > tbody > tr:hover
  background-color: $grey
 
.table > thead > tr > th.th-pointer
  cursor: pointer
  
.table-first-border-top-none > tbody > tr:first-child > td
  border-top: none;
  
.table.table-margin-bottom-0
  margin-bottom: 0

/*  
.table-hover > tbody > tr:hover > td > ul.list-text-hover > li > i
.table-hover > tbody > tr:hover > td > ul.list-text-hover > li > dt > i
  color: $orange
*/

// -------------
// QRcode Styles
// -------------
div#qrcode > img
  width: 100%
  padding: 30px