@import 'nib'

// ---------------
// Color Variables
// ---------------

$orange     = #F74803
$darkOrange = #DA7000
$purple     = #7100FF
$lightBlue  = #08c
$darkBlue   = #00679A
$lightRed   = #F14040
$darkRed    = #D00404
$darkerRed  = #920303

// ------------
// Label Clases
// ------------

.label.label-purple
  background: $purple

.label.label-orange
  background: $orange 
    
.label.label-darkBlue
  background: $darkBlue

// -------------------
// Font Awesome Clases
// -------------------

.fa-edit-stack
  cursor: pointer

.fa-edit-stack > a > i.fa-stack-2x
  color:#F74803 !important

.fa-edit-stack:hover > a > i.fa-stack-2x
  color: rgb(255, 108, 50) !important

.fa-stack-in-label > .fa-stack-2x
  top: 4px;
  left: 0px;
  font-size: 1.4em;

// -------------
// Helper Clases
// ------------- 

.unselectable
  -webkit-touch-callout: none
  -webkit-user-select: none
  -khtml-user-select: none
  -moz-user-select: none
  -ms-user-select: none
  user-select: none


// --------------
// Sidenav Clases
// --------------

.side-nav-block > ul.list-unstyled > a:hover
  color: #fff

// ------------
// Image Clases
// ------------

.img-responsive-gux
  max-height: 160px
  margin: auto
  height: inherit

// -----------
// Form Clases
// -----------

.form-control
  opacity: .8 !important
  color: #000 !important

.form-control:hover,
  opacity: 1 !important
  border: 1px solid $darkBlue !important

.form-control:focus
  opacity: 1 !important
  border: 1px solid $lightBlue !important
  box-shadow: none

// --------------
// Heading Clases
// --------------

h4
  padding-top: 5px !important
  
// ----------
// Tex Clases
// ----------

.text-orange
  color: $orange
  
.text-orange:hover
.text-orange:focus
.text-orange:active
  color: $darkOrange

.text-darkRed
  color: $darkRed

.text-darkRed:hover
.text-darkRed:focus
.text-darkRed:active
  color: $darkerRed
  
.text-muted
  opacity: .6 !important

.text-remove
  color: $darkRed
  
.text-remove:hover
.text-remove:focus
  color: $lightRed
  
.text-remove:visited
  color: $darkerRed

// -----------
// List Clases
// -----------

.list-inline > li
    display: inline-block
    padding-right: 0
    padding-left: 0
    padding-top: 5px
    
ul.list-text-hover > li:hover
  color: $lightBlue
  cursor: pointer  

.list-inline-tags
  margin-top: -10px;
  margin-left: 0px;
  
ul.list-multiple-addresses
  margin-top: 10px;
  li 
    margin-top: 5px