.label.label-purple {
    background: #7100FF;
}

.label.label-orange {
    background: #F74803;
}

.text-orange {
  color: #F74803;
}

.fa-edit-stack {
  cursor: pointer;
}

.fa-edit-stack > a > i.fa-stack-2x {
  color:#F74803 !important;
}

.fa-edit-stack:hover > a > i.fa-stack-2x {
  color: rgb(255, 108, 50) !important
}

.unselectable {
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.list-inline > li {
    display: inline-block;
    padding-right: 0;
    padding-left: 0;
    padding-top: 5px;
}

.side-nav-block > ul.list-unstyled > a:hover {
  color: #fff;
}