<div>
	
	<gux-accordion>
		<!-- Port Density -->
		<gux-accordion-item accordion-item-label="Cantidad de Puertos">
			<gux-radio-group ng-model="index.filters.ports">
			<!-- 8 Puertos -->
				<gux-radio-option radio-value="8">
					8 Puertos
				</gux-radio-option>
			<!-- 12 Puertos -->
				<gux-radio-option radio-value="12">
					12 Puertos
				</gux-radio-option>
			<!-- 16 Puertos -->
				<gux-radio-option radio-value="16">
					16 Puertos
				</gux-radio-option>
			<!-- 24 Puertos -->
				<gux-radio-option radio-value="24">
					24 Puertos
				</gux-radio-option>
			<!-- 48 Puertos -->
				<gux-radio-option radio-value="48">
					48 Puertos
				</gux-radio-option>
			</gux-radio-group>
			<p class="text-center">
				<a 	href="javascript:void(0);"
						ng-show="index.filters.ports"
						ng-click="index.deleteFilter('ports')"
						class="text-danger">
					<i>Eliminar filtro</i>
				</a>
			</p>
		</gux-accordion-item>
		<!-- /Port Density -->

		<!-- Ports -->
		<gux-accordion-item accordion-item-label="Velocidad de Puertos">
			<gux-radio-group ng-model="index.filters.portSpeed">
				<!-- 100 Mbps -->
				<gux-radio-option radio-value="100 Mbps">
					100 Mbps
				</gux-radio-option>
				<!-- 1 Gbps -->	
				<gux-radio-option radio-value="1 Gbps">
					1 Gbps
				</gux-radio-option>
				<!-- 10 Gbps -->
				<gux-radio-option radio-value="10 Gbps">
					10 Gbps
				</gux-radio-option>
			</gux-radio-group>
			<p class="text-center">
				<a 	href="javascript:void(0);"
						ng-show="index.filters.portSpeed"
						ng-click="index.deleteFilter('portSpeed')"
						class="text-danger">
					<i>Eliminar filtro</i>
				</a>
			</p>
		</gux-accordion-item>
		<!-- /RJ-45 Ports -->

		<!-- Uplink Ports -->
		<gux-accordion-item accordion-item-label="Uplinks">
			
			<gux-radio-group ng-model="index.filters.uplink">
				
				<!-- SFP -->
				<gux-radio-option radio-value="SFP">
					SFP
				</gux-radio-option>
				<!-- SFP+ -->
				<gux-radio-option radio-value="SFP+">
					SFP+
				</gux-radio-option>
				<!-- SFP+ -->
				<gux-radio-option radio-value="QSFP+">
					QSFP+
				</gux-radio-option>

			</gux-radio-group>
			
			<p class="text-center">
				
				<a 	href="javascript:void(0);"
						ng-show="index.filters.uplink"
						ng-click="index.deleteFilter('uplink')"
						class="text-danger">
					<i>Eliminar filtro</i>
				</a>
			
			</p>
		</gux-accordion-item>	
		<!-- /Uplink Ports -->

		<!-- Brand -->
		<gux-accordion-item accordion-item-label="Marca">
			
			<gux-radio-group ng-model="index.filters.brand">
				
				<!-- CISCO -->
				<gux-radio-option radio-value="CISCO">
					CISCO
				</gux-radio-option>
				<!-- HP -->
				<gux-radio-option radio-value="HP">
					HP
				</gux-radio-option>
				<!-- JUNIPER -->
				<gux-radio-option radio-value="JUNIPER">
					JUNIPER
				</gux-radio-option>

			</gux-radio-group>

			<p class="text-center">
				
				<a 	href="javascript:void(0);"
						ng-show="index.filters.brand"
						ng-click="index.deleteFilter('brand')"
						class="text-danger">
					<i>Eliminar filtro</i>
				</a>
			
			</p>
		</gux-accordion-item>	
		<!-- /Brand -->
		
		<!-- Caracteristicas Adicionales -->
		<gux-accordion-item accordion-item-label="Caracteristicas Adicionales">
			<!-- Fuentes Redundantes -->
			<gux-selectable-item ng-model="index.filters.secondaryPowerSupply">
				<strong>Fuentes Redundantes</strong>
			</gux-selectable-item>
			<!-- PoE -->
			<gux-selectable-item ng-model="index.filters.poe">
				<strong>PoE</strong>
			</gux-selectable-item>
			<!-- PoE+ -->
			<gux-selectable-item ng-model="index.filters.poePlus">
				<strong>PoE+</strong>
			</gux-selectable-item>
			<!-- Puertos Duales -->
			<gux-selectable-item ng-model="index.filters.dualPorts">
				<strong>Puertos Duales</strong>
			</gux-selectable-item>
		</gux-accordion-item>	
		<!-- /Caracteristicas Adicionales -->
	</gux-accordion>
</div>