<div class="conainer-fluid">
	<div class="row">
		<div class="col-sm-3 col-md-3">

			<button ng-click="index.showModal()" class="btn btn-success btn-block">
				<i class="fa fa-plus"></i>
				Agregar Switch
			</button>
			
			<button class="btn btn-default btn-block"
				ng-click="index.filters = {};">
				<i class="fa fa-filter"></i>
				Eliminar Filtros
			</button>

			<switch-selector-filters></switch-selector-filters>
		
		</div>
		<div class="col-sm-9 col-md-9">
			<switch-panel 
				ng-model="switch"
				ng-repeat="switch in index.switches track by switch._id"
				on-edit="index.showModal(switch)">
			</switch-panel>
		</div>
	</div>
</div>

<add-new-switch-modal switch="index.activeSwitch"></add-new-switch-modal>