<div class="main-content">
	<div class="container">
		<div class="page-content">
			<!-- Heading -->
			<div class="single-head">
				<!-- Heading -->
				<h3 class="pull-left">
					<i class="fa fa-desktop purple"></i>
					Switch Selector
				</h3>
				<!-- Bread Crumbs -->
				<div class="breads pull-right">
					<strong>Nav</strong>
					:
					<a href="#">Home</a>
					/
					<a href="#">Switch Selector</a>
					/ Index
				</div>
				<div class="clearfix"></div>
			</div>
			<!-- Heading -->
			<!-- Content -->
			<div ui-view></div>
			<!-- Content -->
		</div>
	</div>
</div>