<div class="sidebar" ng-style="sidebar.style">
	<!-- Sidey -->	
	<div class="sidey">
		<!-- logo -->
		<div class="logo">
			<h1>
				<a href="javascript:void(0);">
					<i class="fa fa-desktop br-red"></i>
					Guzmán
					<span>Monné</span>
				</a>
			</h1>
		</div>
		<!-- Sidebar navigation starts -->
		<!-- Responsive dropdown -->
		<div class="sidebar-dropdown">
			<a href="#" class="br-red">
				<i class="fa fa-bars"></i>
			</a>
		</div>
		<div class="side-nav">
			<div class="side-nav-block">
				<!-- Sidebar Header -->
				<h4>Main</h4>
				<!-- Sidebar links -->
				<ul class="list-unstyled">
					<a href="/switch_selector">
						<i class="fa fa-desktop"></i>
						Switch Selector
					</a>
				</ul>
			</div>
		</div>
		<!-- Sidebar navigation ends -->
	</div>
	<!-- Sidey -->	
</div>