<div class="sidebar" 
	ng-style="vm.style"
	ng-class="vm.class"
>
	<!-- Sidey -->	
	<div class="sidey">
		<!-- logo -->
		<div class="logo">
			<h1>
				<a href="javascript:void(0);">
					<i class="fa fa-desktop br-red"></i>
					{{$root.currentUser.profile.name.substring(0,8) || 'Anonimo'}}
					<span>{{$root.currentUser.username || ''}}</span>
				</a>
			</h1>
		</div>
		<!-- Sidebar navigation starts -->
		<!-- Responsive dropdown -->
		<div class="sidebar-dropdown">
			<a href="#" class="br-red">
				<i class="fa fa-bars"></i>
			</a>
		</div>
		<div class="side-nav">
			<div class="side-nav-block">
				<!-- Sidebar Header -->
				<h4>Main</h4>
				<!-- Sidebar links -->
				<ul class="list-unstyled">
					<li>
						<a href="/switch_selector">
							<i class="fa fa-desktop"></i>
							Switch Selector
						</a>
					</li>
					<li>
						<a href="/meraki_clients">
							<i class="fa fa-users"></i>
							Meraki Clients
						</a>
					</li>
					<li>
						<a href="/meraki_estimates" class="gux-icon-inside">
							<span class="gux-icon">
								<svg class="gux-icon gux-icon-sidebar gux-icon-meraki-logo"></svg>
							</span>
							<span class="gux-icon-right-text">&nbsp;Meraki Estimates</span>
						</a>
					</li>
				</ul>
			</div>
		</div>
		<!-- Sidebar navigation ends -->
	</div>
	<!-- Sidey -->	
</div>