<section rel="user-admin">
    <mainbar-content-panel
      heading="Users"
      links="vm.links"
      icon="fa fa-user"
    >
      <div class="row" rel="users-admin-toolbar">
        <div class="col-lg-12">
          <users-admin-toolbar></users-admin-toolbar>
        </div>
      </div>

      <div class="row" rel="users-admin-table">
        <div class="col-lg-12">
          <users-admin-table></users-admin-table>
        </div>
      </div>

      <users-admin-new-user-modal></users-admin-new-user-modal>

    </mainbar-content-panel>
</section>