<form name="merakiClientForm">
	<div class="row">
		<div class="col-sm-6">
			<gux-form-input
				ng-model="form.client.name"
				input-name="name"
				input-type="text"
				input-placeholder="Nombre">
				Nombre
				<i class="fa fa-asterisk fa-super text-danger"></i>
			</gux-form-input>
		</div>
		<div class="col-sm-6">
			<gux-form-input
				ng-model="form.client.lastName"
				input-name="lastName"
				input-type="text"
				input-placeholder="Apellido">
				Apellido
				<i class="fa fa-asterisk fa-super text-danger"></i>
			</gux-form-input>
		</div>
	</div>
	<div class="row">
		<div class="col-sm-6">
			<gux-form-input
				ng-model="form.client.company"
				input-name="company"
				input-type="text"
				input-placeholder="Empresa">
				Empresa
				<i class="fa fa-asterisk fa-super text-danger"></i>
			</gux-form-input>
		</div>
		<div class="col-sm-6">
			<gux-form-input
				ng-model="form.client.position"
				input-name="position"
				input-type="text"
				input-placeholder="Posición">
				Posición
				<i class="fa fa-asterisk fa-super text-danger"></i>
			</gux-form-input>
		</div>
	</div>
	<gux-input-tags 
		ng-model="form.client.phones"
		max-tags="3"
		input-placeholder="Ej: 099123456"
		input-name="newPhone"
		focus-after-max-tag="[name='newEmail']"
		register-update-to="modal">
		Telefonos <small class="text-muted">(máx 3)</small>
	</gux-input-tags>
	<gux-input-tags 
		ng-model="form.client.emails"
		max-tags="3"
		input-name="newEmail"
		input-placeholder="Ej: example@gotmail.com"
		focus-after-max-tag="[name='newStreet']"
		register-update-to="modal">
		Emails <small class="text-muted">(máx 3)</small>
	</gux-input-tags>
	<gux-multiple-addresses
		ng-model="form.client.addresses"
		max-addresses="3"
		input-street-name="newStreet"
		register-update-to="modal">
		Direcciones <small class="text-muted">(máx 3)</small>
	</gux-multiple-addresses>
</form>	