<div class="row">
	<div class="col-sm-12">
		<div class="table-responsive">
			
			<table class="table table-hover table-striped">
				
				<thead>
					
					<th data-sort-by="fullName">
						Nombre
					</th>
					
					<th data-sort-by="company">
						Empresa
					</th>
				
					<th data-sort-by="position">
						Cargo
					</th>
					
					<th data-sort-by="phones">
						Telefonos
					</th>
					
					<th data-sort-by="emails">
						Correos
					</th>
					
					<th data-sort-by="addresses">
						Direcciones
					</th>
					
					<th class="text-center" style="width:100px">
						<i class="fa fa-ellipsis-h"></i>
					</th>
				
				</thead>
				
				<tbody>
					<tr 
						meraki-client-row
						ng-repeat="client in vm.clients track by client._id"
						client="client"
					>
					</tr>
				</tbody>
			</table>
		</div>
	</div>
</div>