<div class="row">
	<div class="col-sm-12">
		<div class="table-responsive">
			<table class="table table-hover table-striped">
				<thead>
					<th class="th-pointer" ng-click="table.orderBy('fullName')">
						Nombre
						<i 	class="pull-right fa"
								ng-class="table.showChevronFor('fullName')"
								ng-show="table.showChevronFor('fullName')">
						</i>
					</th>
					<th class="th-pointer" ng-click="table.orderBy('company')">
						Empresa
						<i 	class="pull-right fa"
								ng-class="table.showChevronFor('company')"
								ng-show="table.showChevronFor('company')">
						</i>
					</th>
					<th class="th-pointer" ng-click="table.orderBy('position')">
						Cargo
						<i 	class="pull-right fa"
								ng-class="table.showChevronFor('position')"
								ng-show="table.showChevronFor('position')">
						</i>
					</th>
					<th>
						Telefonos
					</th>
					<th>
						Correos
					</th>
					<th>
						Direcciones
					</th>
					<th class="text-center" style="width:100px">
						<i class="fa fa-ellipsis-h"></i>
					</th>
				</thead>
				<tbody>
					<tr meraki-client-row
							ng-repeat="client in table.clients track by client._id"
							client="client">
					</tr>
				</tbody>
			</table>
		</div>
	</div>
</div>